<footer class="footer footer-aux">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        <p class="text-center"> Trabajo realizado como proyecto del curso de profundización de: <br>Desarrollo de software</p>
      </div>
    </div>
    <div class="col-xl-6">

      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <p class="text-center">Integrantes <br>
          Yhuver Quintero 1151253 - Alvaro Perez 1151754 - Diego Chavez 1151234
        </p>
      </ul>
    </div>
  </div>
</footer>
