<footer class="footer footer-aux">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        <p> &copy; {{ test | date: "yyyy" }} Curso de profundización</p>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <p>Estudiante 1</p>
        </li>
        <li class="nav-item">
          <p>Estudiante 2</p>
        </li>
        <li class="nav-item">
          <p>Estudiante 3</p>
        </li>
      </ul>
    </div>
  </div>
</footer>
