<section class="section-not-found section-shaped my-0">
    <div class="position-relative">
      <section class="section section-lg section-shaped pt-200 bg-ini-2">
        <div class="container py-lg-md d-flex">
          <div class="col">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h1 class="mat-display-1 text-white">GESTIÓN DE ASESORÍAS ACADÉMICAS <br>
                  <h3 class="mat-display-3 text-white">PÁGINA NO ENCONTRADA <br>
                    <a [routerLink]="['../']" mat-raised-button>Volver al inicio</a>
                  </h3>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
