.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.spc-b-item{
  //margin-bottom: -100px!important;
  margin-top: 6px;
}
