<div class="header pb-8 pt-5 pt-lg-4 d-flex align-items-center"
     style="min-height: 550px; background-image: url(../../../../../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <span class="mask bg-gradient-danger opacity-8"></span>
  <div class="container-fluid d-flex align-items-center">
    <div class="row ">
      <div class="col-lg-12 col-md-10">
        <h1 class="display-3 text-white">ADMINISTRACIÓN/ FORMULARIOS DE ASESORÍA</h1>
        <p class="text-white mt-0 mb-8 subtitle-crear-formulario">A continuación podrás gestionar tus horarios de
          asesoría </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--330 ">
  <div id="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
             <mat-form-field>
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
              </mat-form-field>
            </div>
            <div class="col-lg-6">
              <a mat-raised-button [routerLink]="['../crear-formulario']" color="warn" class="btn-create">Nuevo
                formulario </a>
            </div>
          </div>
          <div class="mat-elevation-z2">
            <mat-progress-bar mode="indeterminate" color="accent" [hidden]="loading"></mat-progress-bar>
            <table mat-table [dataSource]="dataSource" matSort>

              <ng-container matColumnDef="fecha_registro">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha creación</th>
                <td mat-cell *matCellDef="let row"> {{aplicarFormatoFecha(row)}} </td>
              </ng-container>

              <ng-container matColumnDef="nombre_formulario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre formulario</th>
                <td mat-cell *matCellDef="let row"> {{row.nombre_formulario}}</td>
              </ng-container>

              <!--
              <ng-container matColumnDef="programas">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Programas</th>
                <td mat-cell *matCellDef="let row"> {{consultarProgramas(row)}} </td>
              </ng-container>
-->
              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones</th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button class="ico-input-color s-opc" [routerLink]="['../editar-formulario']" (click)="setFormulario(row)">
                    <i class="fas fa-edit"></i></button>
                 <button mat-icon-button class="ico-input-color s-opc" (click)="eliminarFormulario(row.id)">
                   <i class="fas fa-trash"></i></button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

             <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Información no encontrada "{{input.value}}"</td>
              </tr>
            </table>
           <!-- <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>-->
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

