<h1 mat-dialog-title>Editar espacio del calendario</h1>
<mat-dialog-content>
  <form [formGroup]="formHorario">
    <p class="pd-subTitle-modal">Verifica los datos del horario que vas actualizar</p>
    <div class="container-fluid pd-modals">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <mat-form-field class="fluid" appearance="fill">
            <mat-label>Fecha inicio</mat-label>
            <input formControlName="fecha_inicio" matInput [matDatepicker]="picker1"
                   placeholder="Fecha inicio" required>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-sm-12">
          <mat-form-field class="fluid" appearance="fill">
            <mat-label>Fecha finalización</mat-label>
            <input formControlName="fecha_fin" matInput [matDatepicker]="picker2"
                   placeholder="Fecha fin" required>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <mat-form-field class="fluid" appearance="fill">
            <mat-label>Hora inicio
            </mat-label>
            <input class="inicio-hr" matInput formControlName="hora_inicio" type="time"
                   #timeInicio required>
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-sm-12">
          <mat-form-field class="fluid" appearance="fill">
            <mat-label>Hora fin</mat-label>
            <input matInput class="fin-hor" formControlName="hora_fin" type="time" #timeFin
                   required>
          </mat-form-field>
        </div>
      </div>
      <div class="row msn-error-h" *ngIf="timeInicio.value>=timeFin.value && timeFin.value != 0">
        <div class="col-12">
          <p class="msn-error-p">La hora fin es inferior o igual a la hora inicio</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="text-center">
            <mat-slide-toggle class="pd-toogle-top" formControlName="repeticion">¿Deseas que la cita se repita?</mat-slide-toggle>
          </p>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row m-top-horarios">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-3">
              <mat-checkbox formControlName="lunes">Lunes</mat-checkbox>
            </div>
            <div class="col-lg-3">
              <mat-checkbox formControlName="martes">Martes</mat-checkbox>
            </div>
            <div class="col-lg-3">
              <mat-checkbox formControlName="miercoles">Miercoles</mat-checkbox>
            </div>
            <div class="col-lg-3">
              <mat-checkbox formControlName="jueves">Jueves</mat-checkbox>
            </div>

          </div>
          <div class="row">
            <div class="col-lg-3">
              <mat-checkbox formControlName="viernes">Viernes</mat-checkbox>
            </div>
            <div class="col-lg-3">
              <mat-checkbox formControlName="sabado">Sabado</mat-checkbox>
            </div>
            <div class="col-lg-3">
              <mat-checkbox formControlName="domingo">Domingo</mat-checkbox>
            </div>
            <div class="col-lg-3"></div>
          </div>
        </div>
      </div>
    </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <a mat-button class="btn-modal" (click)="salir()">Cancelar</a>
  <a mat-raised-button color="accent" class="btn-modal" (click)="eliminar()">{{(horario.se_repite)? 'Eliminar seríe':'Eliminar horario'}} </a>
  <a mat-raised-button color="warn" class="btn-modal" (click)="actualizarHorario()" [disabled]="formHorario.invalid">Guardar</a>
</mat-dialog-actions>
