/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file.
@import '~bootstrap/scss/bootstrap';
@import "assets/scss/argon";
*/

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fluid {
  width: 100% !important;
}

.icon-input {
  color: #B51755;
  padding-top: 30px !important;
  margin-left: -30px !important;
}

.ico-input-color {
  color: #B51755;
}
.ico-input-color:hover {
  color: #B51755;
}

.float-bottom {
  float: bottom !important;
}

.btn-stepper {
  margin-bottom: 20px !important;
  float: right !important;
}
.btn-modal {
  margin: 5px !important;
  float: right !important;
}

.m-t-subtitle-stepper {
  margin-top: -20px !important;
}

.pd-form-show{
  padding-top: 40px;
  padding-bottom: 20px;

}
.text-form-show {
  margin-bottom: -10px !important;
  margin-top: -10px !important;
}

.img-form-show-logo{
  width: 70%!important;
}

.text-title-form{
  margin-top: -15px !important;
}

.btn-horario-list{
  margin: 5px!important;
}
.ask-list{
  margin: 5px!important;
}

.form-group {
  display: flex;
  align-items: center;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

/*****TABLAS****/
table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/*td, th {
  width: 25%;
}**/

.btn-create{
  float: right!important;
  margin: 30px;
}

.bnm-center{
  display: flex;
  align-items: center;
}
.lop{
  margin-top: 5px!important;
}
.s-opc{
  margin: 5px!important;
}
.title-admin{
  margin-top: 20px!important;
  margin-left: 25px!important;
  margin-bottom: -10px!important;
  padding: 0px!important;
  float: right!important;
}

.title-admin:hover {
  color: #B51755;
}

.footer-aux{
  margin-top: 80px;
}
