<!--<h1 mat-dialog-title>Visualización de asesoría</h1>
<div mat-dialog-content>
  <mat-progress-bar mode="indeterminate" color="accent" [hidden]="loading"></mat-progress-bar>
  <mat-list>
    <div mat-subheader>Datos de la asesoría
    </div>
    <mat-list-item *ngFor="let folder of folders">
      <mat-icon mat-list-icon>folder</mat-icon>
      <div mat-line>{{folder.name}}</div>
      <div mat-line> {{folder.updated | date}} </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Notes</div>
    <mat-list-item *ngFor="let note of notes">
      <mat-icon mat-list-icon>note</mat-icon>
      <div mat-line>{{note.name}}</div>
      <div mat-line> {{note.updated | date}} </div>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="true">Cerrar</button>
</div>
-->
